{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
<h2>Edit Page</h2>
<form action="{% url 'save_edit' %}" method="POST">
    {% csrf_token %}
    <label>Title:</label>
    <input type="text" name="title" placeholder="Enter a Title" value="{{ title }}">
    <br />
    <label>Markdown Content:</label>
    <br />
    <textarea name="content" style="height: 50vh; width: 80%;">{{ content }}</textarea>
    <br />
    <input type="submit" value="Save" class="btn btn-primary" />
</form>


{% endblock %}
